*{
    font-family: 'Roboto', sans-serif;
}
#cabecera{
    position: fixed;
    left:0;
    top: 0;
    right: 0%;
    z-index: 3;
}

#saludo{
    padding-top: 8rem;
}

#presentacion{
    width: 70%;
}

#carouselExampleCaptions, #carouselExampleControls{
    width: 60%;
}
.carousel-item{
    max-width: 1200px;
}

.listaConocimientos{
    width: 50%;
}

    .listaConocimientos li{
        margin: 5%;
        padding: 0%;
        background-color: transparent;
        border: 0px;
    }

.listaContacto li{
    margin: 10%;
    padding: 0%;
    background-color: transparent;
    border: 0px;
}